h1 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease;
    top: 50%;
    transform: translateY(-140px);   
    opacity: 0%; 
}
h2 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 4rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 3px solid white; */
    opacity: 1;
    /* animation: 
        typing 3s steps(40, end),
        blink-caret 0.75s step-end infinite; */
}
@keyframes typing {
    from { width: 0 }
    to { width: 45% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
    100%{border-color: rgba(0, 0, 0, 0)}
}
p {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 100%;
    opacity: 0;
    font-size: 1.25rem;
    transition: opacity 0.5s ease;
    top: 50%;
    margin-left: 30px;
    margin-right: 20px;
    transform: translateY(-80px);   
    width: 95%;
}

#automationOptionsContainer {
    display: flex;
    height: 650px;
    width: 1350px;
    transform: translateY(150px);
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.optionImg {
    z-index: 2;
}

.optionChildrenStyle {
    height: 580px;
    width: 300px;
    background-color: rgba(128, 128, 128, 0.35);
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    position: relative;
}

.optionChildrenStyle:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    animation: 
        pulse-glow 1.5s infinite alternate,
        heightIncrease 0.5s forwards;
    transform-origin: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
@keyframes yTranslate {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-290px);
    }
  }
  @keyframes yTranslateReverse {
    0% {
      transform: translateY(-290px);
    }
    100% {
      transform: translateY(0);
    }
  }

@keyframes heightIncrease {
    0% {
        height: 580px;
        width: 300px;
    }
    100% {
        height: 600px;
        width: 320px;
    }
}

@keyframes pulse-glow {
    0% {
      box-shadow: 
        0 0 10px rgba(151, 187, 246, 0.8),
        0 0 20px rgba(151, 187, 246, 0.7);
    }
    100% {
      box-shadow: 
        0 0 15px rgba(151, 187, 246, 1),
        0 0 25px rgba(151, 187, 246, 0.9),
        0 0 35px rgba(151, 187, 246, 0.8);
    }
  }

body {
    background: linear-gradient(to right, #1e90ff, #0047ab);
}